

/*COMMON*/

.bg-black-rgba {
	background-color: rgba(0,0,0,0.2);
}


.selected-li {
	display: flex;
	place-items:center;
	text-align: center;
}

#drowpDownControl:checked ~ .nav-box .dropdown-navigation{
	display: block;
}


#searchControl:checked ~ .search-box{
	display:flex;
}




/*THIS*/

.small-img-box {
	width: 150px;
	height: 205px;
}

.simple-grid {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.full-grid-item {
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 1;
	grid-column-end: 1;
}


.carousel-img {
	min-width: 100px;
	width: 100px;
	height: 150px;
}