

/*COMMON*/

.bg-black-rgba {
	background-color: rgba(0,0,0,0.2);
}


.selected-li {
	display: flex;
	place-items:center;
	text-align: center;
}

#drowpDownControl:checked ~ .nav-box .dropdown-navigation{
	display: block;
}


#searchControl:checked ~ .search-box{
	display:flex;
}




/*THIS*/

.small-img-box {
	width: 150px;
	height: 205px;
}

.carousel-img {
	min-width: 100px;
	width: 100px;
	height: 150px;
}


.overlap-box {
	display: grid;
	grid-template-areas: 'upperBox';
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.overlap-item{
	grid-area: upperBox;
}


.scale-medium {
	transform: scale(1.5);
	transition: 500ms;
}