.flex-container {
    display: flex;
}


.item-image {
    flex-direction: row;
    align-items: stretch;
}


.rating {
    position: relative;
    align-self: flex-end;
    z-index: 1;
    color: white;
    right: 30px;
    margin-bottom: 40px;
    padding: 10px;
}

.image-box{
    position: relative;
    top: -75px;
}

.inside-img {
    object-fit: cover;
}
.over-play{
   width: 100%;
    color: white;
    z-index: 30;
    position: absolute;
  align-self: center;

  justify-content: space-around;
  
 
}

.inside-svg{
    width: 65px;
    color: white;
    opacity: 0.6;
    
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}




/*COMMON*/
#drowpDownControl:checked ~ .nav-box .dropdown-navigation{
    display: block;
}


#searchControl:checked ~ .search-box{
    display:flex;
}

.bg-black-rgba {
    background-color: rgba(0,0,0,0.6);
}


.selected-li {
    display: flex;
    place-items:center;
    text-align: center;
}


/**/

.overlap-box {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'upperBox';
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

.overlap-item{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: upperBox;
}

.banner:hover .banner-bg{
    filter: blur(0);
    transition: 200ms;
}

.banner:hover .banner-img{
    transform: scale(1.5);
    transition: 1s;
}


.banner:hover .current-tag{
    text-decoration: underline;
}