<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/AcercaDe.css">    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../img_parcial/fontawesome-free-5.15.3-web/css/all.css">
	<title>Acerca De</title>
</head>
<body>

    <header>
        <div class="container_header grid" id="header_Descrip">
            <div class="btn_volver grid justificar_izquierda">
                <button type="button" href="#" onclick="goBack()" class="sin_borde fondo_transpa animacion"
                    id="btn_barra_volver"><i class="fas fa-arrow-left"></i></button>
            </div>
            <div class="menu_dinamico overlay fondo_transpa" id="menu_dinamico">
                <nav class="">
                    <ul id="lista">
                        <li><a href="../index.html" class="btn_inicio color_letras animacion gap-2 mx-4 selected-a py-2 px-0 text-teal-300 hover:text-teal-300 text-2xl font-bold hover:underline">Inicio  </a></li>
                        <li><a href="AcercaDe.html" class="btn_about color_letras animacion gap-2 mx-4 selected-a py-2 px-0 text-teal-300 hover:text-teal-300 text-2xl font-bold hover:underline">Acerca De  </a></li>
                        <li><a href="#" class="btn_help color_letras animacion gap-2 mx-4 selected-a py-2 px-0 text-teal-300 hover:text-teal-300 text-2xl font-bold hover:underline">Ayuda  </a></li>
                    </ul>
                </nav>
            </div>
    </header>

    <div class="container">
        <div class="titulo text-3xl">
            <h1>Acerca de</h1>
        </div>

        <article class="articulo text-3xl">
            <h2>Proyecto Final</h2>
            <h2>IF7102 - Multimedios</h2>
            <h3>Realizado por:</h3>
            <h4>Cris T - B9</h4>
            <h4>Esteban R - B96967</h4>
            <h4>Erick V - B9</h4>
        </article>

        <div class="parrafo text-xl">
            <p>Este Sitio Web utiliza una API proporcionada por: <a
                    href="https://www.themoviedb.org/">www.themoviedb.org</a></p>
        </div>
        <div>
            <img src="../img/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
                alt="themoviedb">
        </div>
    </div>

    <footer>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#3cbcac" fill-opacity="0.7"
                d="M0,160L48,176C96,192,192,224,288,224C384,224,480,192,576,181.3C672,171,768,181,864,208C960,235,1056,277,1152,298.7C1248,320,1344,320,1392,320L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>
        </svg>
    </footer>

    <!--Formas y figuras de la página-->





    <script type="text/javascript" src="../js/AcercaDe.js"></script>



</body>
</html>